* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 10px;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body{
    background-color: bisque;
}

a{
    color: black;
    text-decoration: none;
}


/* ====================================================== */
/*                        Mobile                          */
/* ====================================================== */

/* -----------------------header------------------------- */
h1{
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

nav a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 168, 91);
    margin: 20px 0;
    font-size: 1.3rem;
}

/* ------------------------main-------------------------- */
section{
    margin-bottom: 0;
}
.children{
    font-size: 1.3rem;
    height: 100px;
    text-align: center;
}

.child1{
    border: 2px solid rgb(255, 0, 0);
    border-bottom: none;
}
.child2{
    border: 2px solid rgb(255, 0, 128);
    border-bottom: none;
}
.child3{
    border: 2px solid rgb(234, 0, 255);
    border-bottom: none;
}
.child4{
    border: 2px solid rgb(195, 0, 255);
    border-bottom: none;
}
.child5{
    border: 2px solid rgb(255, 0, 85);
    border-bottom: none;
}
.parent2{
    border: 2px solid rgb(162, 0, 255);
    border-bottom: none;
}
.parent3{
    border: 2px solid rgb(98, 0, 255);
    border-bottom: none;
}
.parent4 .child4{
    border-bottom: 2px solid rgb(195, 0, 255);
}

/* ------------------------footer-------------------------- */
footer{
    background-color: rgb(255, 123, 0);
}
p{
    font-size: 1.2rem;
    color: #FFF;
    padding: 10px;
    margin: 0;
}

/* ====================================================== */
/*                        Tablet                          */
/* ====================================================== */
@media screen and (min-width: 700px){
    /* -----------------------header------------------------- */
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 30px;
    }

    nav a {
        padding: 10px 35px;
    }

    /* -----------------------body------------------------- */
    /* Parent1 */
    .parent1{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "child1 child1 child2 child3"
        "child4 child4 child5 child5"
        ;
    }

    .parent1 .child1{
        grid-area: child1;
    }
    .parent1 .child2{
        grid-area: child2;
    }
    .parent1 .child3{
        grid-area: child3;
    }
    .parent1 .child4{
        grid-area: child4;
    }
    .parent1 .child5{
        grid-area: child5;
    }

    /* Parent4 */
    .parent4{
        display: grid;
        grid-template: 1fr 1fr / 1.3fr 2.7fr;
        grid-template-areas: 
        "child1 child2"
        "child3 child4"
        ;
    }
    .parent4 .child1{
        grid-area: child1;
    }
    .parent4 .child2{
        grid-area: child2;
    }
    .parent4 .child3{
        grid-area: child3;
        border-bottom: 2px solid rgb(234, 0, 255);
    }
    .parent4 .child4{
        grid-area: child4;
    }
}

/* ====================================================== */
/*                        Desktop                         */
/* ====================================================== */
@media screen and (min-width: 1295px){
    .parent1{
        display: grid;
        grid-template: 1fr / 1.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
        grid-template-areas: 
        "child1 child2 child3 child4 child5"
        ;
    }

    .parent1 .child1{
        grid-area: child1;
    }
    .parent1 .child2{
        grid-area: child2;
    }
    .parent1 .child3{
        grid-area: child3;
    }
    .parent1 .child4{
        grid-area: child4;
    }
    .parent1 .child5{
        grid-area: child5;
    }

    /* Parent4 */
    .parent4{
        display: grid;
        grid-template: 1fr/ 0.7fr 1.1fr 1.1fr 1.1fr;
        grid-template-areas: 
        "child1 child2 child3 child4"
        ;
    }
    .parent4 .child1{
        grid-area: child1;
        border-bottom: 2px solid rgb(255, 0, 0);
    }
    .parent4 .child2{
        grid-area: child2;
        border-bottom: 2px solid rgb(255, 0, 128);
    }
    .parent4 .child3{
        grid-area: child3;
        border-bottom: 2px solid rgb(234, 0, 255);
    }
    .parent4 .child4{
        grid-area: child4;
    }
}